.flex-column{
    flex-direction: column;
}
.input-group-text.h__input-number{
    background: rgba(244, 247, 249, 0.4);
    padding: 0;
    padding-left: 2px;
    p{
        line-height: 0.4;
        padding: .37rem .75rem;
        border: 0.5px solid #E9EFF4;
        
    }
    i{
        color: #808FA3;
        font-size: 10px;
    }
    
}
// .h__number-input{
//     position: relative;
//     input[type="number"]::-webkit-outer-spin-button{
//         -webkit-appearance: none;
//         margin: 0;
//     }
//     input[type=number]{
//         -moz-appearance: textfield;
//     }
// }